@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './ribbons';

@layer utilities {
    @variants responsive {
        .masonry {
            column-gap: 1em;
            column-count: 3;
        }

        @-moz-document url-prefix(){
            .break-inside {
                display: inline-grid;
                page-break-inside: avoid;
            }
        }
        .break-inside {
            break-inside: avoid-column;
        }
    }
}

.vs__selected, .multiselect__tag {
    font-size:12px;
}


button:focus {
    outline: none;
}

.focus\:shadow-outline:focus {
    box-shadow: none;
}

.rule-content {
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D";
    }
    blockquote p {
        display: inline;
    }

    ol, ul {
        list-style: disc;
        padding-top: 0;
        padding-inline-start: 40px;
    }

    ol, .ql-indent-1 {
        padding-inline-start: 40px;
    }

    a {
        color: dodgerblue;
        text-decoration: underline;
    }

    h1 {
        @apply text-2xl font-normal leading-normal mt-0 mb-2 ;
    }
    h2 {
        @apply text-xl font-normal leading-normal mt-0 mb-2;
    }
    h3 {
        @apply text-lg font-normal leading-normal mt-0 mb-2;
    }

    a[href^="http://"]:after,
    a[href^="https://"]:after {
        content: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='blue'><path d='M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z' /><path d='M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z' /></svg>");
        margin: 0;
        display: inline-block;
        width: 15px;
        height: 15px;
    }
}

.Vue-Toastification__toast--info {
    background-color: rgba(33, 150, 243, 0.85);
    padding: 8px 20px;
    min-height: 30px;
}

.Vue-Toastification__toast-body {
    font-size: 14px;
}
